.categories {
  background-color: black;
  flex: 1;
  width: 300px;
  margin: 15px ;
  border-radius: 30px;
}
.categories h2{
  color: aliceblue;
  text-align: center;
  font-size: 30px;
}
.categories button{
  display: block;
  color: aliceblue;
  font-size: 24px;
  margin: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
}