.form-for-post  {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-for-post form {
  width: 40vw;
  height: 900px;
  background-color: rgb(61, 37, 5);
  border-radius: 50px;
}